<%
@title = "Proceso -- Decidim Barcelona"
@activesection = "processes"
@activepage = "info"
%>

<%= partial "template_top" %>

<main>
  <%= partial "d_module_header" %>
  <div class="wrapper-mini">
    <div class="section">
      <div class="row column">
        <h2 class="section-heading">Technical data</h2>
      </div>
    </div>
    <div class="section">
      <div class="row column">
        <h2 class="section-heading">Related documents</h2>
      </div>
    </div>

  </div>
</main>

<%= partial "template_bottom" %>