<%
@title = "Proceso -- Decidim Barcelona"
@activesection = "processes"
@activepage = "info"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">

    <div class="row column">
      <h2 class="section-heading">Technical data</h2>
    </div>

    <div class="row column">
      <h2 class="section-heading">Related documents</h2>
    </div>

  </div>
</main>

<%= partial "template_bottom" %>