<div class="d-filter-tabs">
  <a href="#" class="d-filter-tabs__tab">
    All
    <span class="d-counter">87</span>
  </a>
  <a href="#" class="d-filter-tabs__tab is-active">
    Accepted
    <span class="d-counter">26</span>
  </a>
  <a href="#" class="d-filter-tabs__tab">
    Evaluating
    <span class="d-counter">12</span>
  </a>
  <a href="#" class="d-filter-tabs__tab">
    Unanswered
    <span class="d-counter">3</span>
  </a>
  <a href="#" class="d-filter-tabs__tab">
    Rejected
    <span class="d-counter">42</span>
  </a>
</div>