<div class="d-filters">
  <div class="d-filters__main">
    <label for="d-filters-search" class="show-for-sr">
      Search proposal
    </label>
    <div class="d-filters__search">
      <input type="text" class="d-filters__search-input" placeholder="Search proposal…" id="d-filters-search">
      <button type="button" aria-label="Search" class="d-filters__search-button">
        <%= external_icon "icons/solid/search.svg", role: "img", "aria-hidden": true %>
      </button>
    </div>
    <button type="button" class="d-filters__advanced-button" data-toggle="advanced-filters">
      Advanced search
      <%= external_icon "icons/solid/chevron-down.svg", role: "img", "aria-hidden": true %>
    </button>
    <div class="d-filters__order">
      <label for="d-filters-order">
        Order by
      </label>
      <select id="d-filters-order">
        <option seleted>Random</option>
        <option>More active</option>
        <option>Less active</option>
        <option>More supports</option>
        <option>Fewer supports</option>
      </select>
    </div>
  </div>
  <div class="d-filters__advanced is-hidden" id="advanced-filters" data-toggler="is-hidden">
    <div class="d-filters__advanced-filter">
      <button class="d-filters__advanced-toggle" data-toggle="d-filters__advanced-1">
        Area
      </button>
      <div class="dropdown-pane d-filters__dropdown-pane" id="d-filters__advanced-1"
        data-dropdown
        data-hover="true"
        data-hover-pane="true"
        data-position="bottom"
        >
        <label data-global-checkbox>
          <input type="checkbox" data-checkboxes-tree="filters-1"> All
        </label>
        <div id="filters-1">
          <label>
            <input type="checkbox"> Area 1
          </label>
          <label>
            <input type="checkbox"> Area 2
          </label>
          <label>
            <input type="checkbox"> Area 3
          </label>
          <label>
            <input type="checkbox"> Area 4
          </label>
        </div>
      </div>
    </div>

    <div class="d-filters__advanced-filter">
      <button class="d-filters__advanced-toggle" data-toggle="d-filters__advanced-2">
        Topic
      </button>
      <div class="dropdown-pane d-filters__dropdown-pane" id="d-filters__advanced-2"
        data-dropdown
        data-hover="true"
        data-hover-pane="true"
        data-position="bottom"
        >
        <label data-global-checkbox>
          <input type="checkbox" data-checkboxes-tree="filters-2"> All
        </label>
        <div id="filters-2">
          <label>
            <input type="checkbox"> Topic 1
          </label>
          <label>
            <input type="checkbox"> Topic 2
          </label>
          <label>
            <input type="checkbox"> Topic 3
          </label>
          <label>
            <input type="checkbox"> Topic 4
          </label>
        </div>
      </div>
    </div>

    <div class="d-filters__advanced-filter">
      <button class="d-filters__advanced-toggle" data-toggle="d-filters__advanced-3">
        Source
      </button>
      <div class="dropdown-pane d-filters__dropdown-pane" id="d-filters__advanced-3"
        data-dropdown
        data-hover="true"
        data-hover-pane="true"
        data-position="bottom"
        >
        <label data-global-checkbox>
          <input type="checkbox" data-checkboxes-tree="filters-3"> All
        </label>
        <div id="filters-3">
          <label>
            <input type="checkbox"> Source 1
          </label>
          <label>
            <input type="checkbox"> Source 2
          </label>
          <label>
            <input type="checkbox"> Source 3
          </label>
          <label>
            <input type="checkbox"> Source 4
          </label>
        </div>
      </div>
    </div>

    <div class="d-filters__advanced-filter">
      <button class="d-filters__advanced-toggle" data-toggle="d-filters__advanced-4">
        Related with
      </button>
      <div class="dropdown-pane d-filters__dropdown-pane" id="d-filters__advanced-4"
        data-dropdown
        data-hover="true"
        data-hover-pane="true"
        data-position="bottom"
        >
        <label data-global-checkbox>
          <input type="checkbox" data-checkboxes-tree="filters-4"> All
        </label>
        <div id="filters-4">
          <label>
            <input type="checkbox"> Example 1
          </label>
          <label>
            <input type="checkbox"> Example 2
          </label>
          <label>
            <input type="checkbox"> Example 3
          </label>
          <label>
            <input type="checkbox"> Example 4
          </label>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="d-applied-filters">
  <button class="d-applied-filters__tag" aria-label="Remove selection">
    Eixample
    <%= external_icon "icons/solid/times.svg", role: "img", "aria-hidden": true %>
  </button>
  <button class="d-applied-filters__tag" aria-label="Remove selection">
    Ajuntament
    <%= external_icon "icons/solid/times.svg", role: "img", "aria-hidden": true %>
  </button>
</div>