<div class="wrapper-sides">
  <div class="row column">
    <div class="d-module-header">
      <div class="d-module-header__hero">
        <img src="<%= image_path "barcelona-hero.jpg" %>" alt="" />
      </div>
      <div class="d-module-header__main">
        <h1 class="heading2">
          Plan de acción del Pou de la Figuera
        </h1>
        <h2 class="heading-small">
          <span class="d-module-header__hashtag">
            <a href="#">#urbaGracia</a>
          </span>
          Proceso de mejoras del barrio de Gracia
        </h2>

        <%= partial "d_module_nav" %>

      </div>
    </div>
  </div>
</div>
