<div class="d-module-phase">
  <div class="process-header__progress">
    <ol aria-hidden="true">
      <li class="phase-item--past"><span></span></li>
      <li class="phase-item--past"><span></span></li>
      <li class="phase-item--past"><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ol>
    <span class="phase-current">
      Fase 3 de 9 · <%= link_to "Ver fases", page_path("/phases"), class: "link" %>
    </span>

  </div>
  <div>
    <span class="d-module-phase__phase-title">Priorització de propostes</span>
    <span class="d-module-phase__date">02/06/2016 - 15/02/2016</span>
  </div>
  <a href="#" class="button small button--sc expanded">¡Haz tu propuesta!</a>
</div>