// D-cards are a redesign of the previous Decidim cards
$d-card-max-width: 400px;
$d-card-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
$d-card-bg: #fff;
$d-card-radius: 4px;
$d-card-padding: 1rem;
$d-card-icon-color: lighten($muted-warm, 30);
$d-card-data-color: $muted-warm;
$d-card-data-size: .75rem;
$d-card-footer-color: $muted-warm;
$d-card-footer-size: .875rem;
$d-card-progress-foot-color: $muted-warm;
$d-card-text-size: .875rem;
$d-card-tags-size: .875rem;
$d-card-progress-size: .875rem;

.d-card{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $d-card-bg;
  border-radius: $d-card-radius;
  box-shadow: $d-card-shadow;
  position: relative;
  max-width: $d-card-max-width;

  a{
    position: relative;
    z-index: 1;
  }

  &__image{
    border-radius: $d-card-radius $d-card-radius 0 0;
    overflow: hidden;
  }

  &__content{
    padding: $d-card-padding;
  }

  & &__main-link{
    position: static;
    display: inline-block;

    &::before{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
    }
  }

  &__pre-title{
    color: $primary-color;
    margin-bottom: 0;

    @include smallcaps($size: .8em);
  }

  &__title{
    font-weight: 600;
    line-height: 1.2;
  }

  &__data{
    font-size: $d-card-data-size;
    color: $d-card-data-color;
    display: flex;
    margin-top: -.3rem;
    margin-bottom: 1rem;

    svg{
      color: $d-card-icon-color;
      margin-right: .3em;
    }
  }

  &__data-element{
    display: flex;
    align-items: center;
  }

  &__data-element:not(:last-child){
    margin-right: 1rem;
  }

  &__text{
    font-size: $d-card-text-size;
    margin-bottom: 1rem;
  }

  &__simple-text{
    font-size: $d-card-text-size;
  }

  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $d-card-padding $d-card-padding;
    font-size: $d-card-footer-size;
    color: $d-card-footer-color;
    margin-top: auto;
  }

  &__extra-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
  }

  &__tags{
    display: flex;
    align-items: baseline;

    &.tags{
      font-size: $d-card-tags-size;

      &:last-child{
        margin-bottom: 0;
      }
    }

    a,
    &.tags a{
      display: block;
    }

    li,
    &.tags li{
      overflow: hidden;
      padding: 3px;
      margin-bottom: 0;

      &:first-child{
        flex-shrink: .5;
      }
    }

    a{
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
    }
  }

  &__meet-detail{
    display: flex;
    align-items: flex-start;

    &:not(:last-child){
      margin-bottom: .3em;
    }

    svg{
      color: $d-card-icon-color;
      margin-top: .3em;
      margin-right: .3em;
    }
  }

  &__highlight{
    color: $primary-color;
    font-weight: 600;
  }

  &__highlight-sc{
    color: $primary-color;

    @include smallcaps;
  }

  &__progress-labels{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: $d-card-progress-size;
  }

  &__progress-label-text{
    @include smallcaps($weight: 400);
  }

  &__progress-foot{
    font-size: $small-font-size;
    color: $d-card-progress-foot-color;
    display: flex;
    align-items: center;

    svg{
      margin-right: .3em;
      color: $d-card-icon-color;
    }
  }

  &__cta{
    margin-bottom: 0;
    margin-top: 1rem;
  }
}
