.d-counter{
  display: inline-block;
  background-color: var(--counter-bg, lightgrey);
  color: var(--counter-color, black);
  padding: .025em .5em .15em;
  border-radius: 1em;
  font-size: .7em;
  line-height: 1;
  vertical-align: middle;
}
