.d-module-nav{
  $active-link-marker: 3px;

  overflow: hidden;
  flex-grow: 1;

  &__content{
    display: flex;
    overflow: hidden;
    padding-bottom: $active-link-marker;
  }

  ul{
    margin: 0;
    list-style: none;
  }

  &__links{
    display: flex;

    li{
      margin-right: 1rem;
    }
  }

  &__link{
    text-transform: uppercase;
    color: var(--primary);
    font-weight: $global-weight-bold;
    display: flex;
    align-items: center;

    &:hover{
      text-decoration: none;
    }

    &.is-active,
    &:hover{
      color: var(--primary);
      box-shadow: 0 $active-link-marker 0 0 var(--primary);
    }
  }

  &__more{
    margin: 0;
    color: var(--primary);
    background-color: rgba(var(--primary-rgb), .1);
    font-weight: $global-weight-bold;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;

    &.hover{
      color: $white;
    }

    &.button{
      margin-bottom: 0;
      padding-left: .75rem;
      padding-right: .75rem;
    }

    &.tiny{
      font-size: inherit;
    }

    &.is-hidden{
      display: none;
    }

    .icon{
      vertical-align: middle;
      margin-right: -.2em;
    }
  }

  &__hidden-content{
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba($black, .08);
    padding: 0;

    @include breakpoint(small down){
      left: 0 !important;
      right: 0 !important;
      width: auto;
    }

    ul{
      padding: $global-padding / 2 0;
    }

    li{
      width: 100%;
      padding: $global-padding / 2 $global-padding;
    }
  }
}
